{% extends "base.html" %}

{% block title %}Edit profile{% endblock title %}

{% block content %}
<h3>Edit your profile</h3>

<form method="POST">
    <p>
        <strong>Your name:</strong>
        <input type="text" value="{{ user.name }}" name="profile-name">
    </p>
    <p>
        <strong>Your email:</strong>
        <input type="email" value="{{ user.email }}" name="profile-email">
    </p>
        <p>
        <strong>Old password:</strong>
        <input type="password" name="old-password">
    </p>
    <p>
        <strong>New password:</strong>
        <input type="password" name="new-password">
    </p>
    <button type="submit">Save</button>
</form>

{% endblock content %}